<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - MovieMania</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="navbar">
        <div>Moviemania</div>
        <div>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
            <form action="{{ url_for('search') }}" method="GET">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="container">
        <h1>Profile</h1>
        <h2>Hello, {{ user_name }}</h2>

        <div class="card">
            <h2 class="card-title">Your Liked Movies</h2>
            <div class="card-content">
                {% for movie in liked_movies %}
                <div class="card-item">
                    <img src="{{ movie['poster_path'] }}" alt="{{ movie['title'] }}">
                    <p>{{ movie['title'] }}</p>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="card">
            <h2 class="card-title">Your Liked TV Shows</h2>
            <div class="card-content">
                {% for tv_show in liked_tv_shows %}
                <div class="card-item">
                    <img src="{{ tv_show['poster_path'] }}" alt="{{ tv_show['name'] }}">
                    <p>{{ tv_show['name'] }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
