<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile - MediaMania</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <h1>Profile</h1>
            <h2>Hello, {{ name }}</h2>
            <div id="liked-media">
                {% if liked_movies %}
                    <div class="trending-section" id="liked-movies-section">
                        <h2>Your Liked Movies</h2>
                        <div class="card-content">
                            {% for movie in liked_movies %}
                                <div class="card-item" data-id="{{ movie.media_id }}">
                                    <a href="{{ url_for('media_detail', media_type='movie', media_id=movie.media_id) }}">
                                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                                            alt="{{ movie.title }}">
                                    </a>
                                    <p class="title">{{ movie.title | truncate(20) }}</p>
                                    <p class="rating">Rating: {{ "%.1f"|format(movie.vote_average) if movie.vote_average else "No Rating" }}/10</p>
                                    <button class="favorite-btn"
                                            data-id="{{ movie.media_id }}"
                                            data-type="movie"
                                            data-title="{{ movie.title }}"
                                            data-poster="{{ movie.poster_path }}"
                                            data-vote-average="{{ movie.vote_average }}"
                                            style="background-color: #ff0000;">Unfavorite</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if liked_tv_shows %}
                    <div class="trending-section" id="liked-tv-section">
                        <h2>Your Liked TV Shows</h2>
                        <div class="card-content">
                            {% for tv_show in liked_tv_shows %}
                                <div class="card-item" data-id="{{ tv_show.media_id }}">
                                    <!-- <img src="https://image.tmdb.org/t/p/w500{{ tv_show.poster_path }}"
                                         alt="{{ tv_show.title }}"> -->
                                    <a href="{{ url_for('media_detail', media_type='tv', media_id=tv_show.media_id) }}">
                                        <img src="https://image.tmdb.org/t/p/w500{{ tv_show.poster_path }}"
                                            alt="{{ tv_show.title }}">
                                    </a>
                                    <p class="title">{{ tv_show.title | truncate(20) }}</p>
                                    <p class="rating">Rating: {{ "%.1f"|format(tv_show.vote_average) if tv_show.vote_average else "No Rating" }}/10</p>
                                    <button class="favorite-btn"
                                            data-id="{{ tv_show.media_id }}"
                                            data-type="tv"
                                            data-title="{{ tv_show.title }}"
                                            data-poster="{{ tv_show.poster_path }}"
                                            data-vote-average="{{ tv_show.vote_average }}"
                                            style="background-color: #ff0000;">Unfavorite</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <script>
            $(document).ready(function() {
                function checkIfNoLikedMedia() {
                    if ($('#liked-media .card-item').length === 0) {
                        $('#liked-media').html('<h2 style="text-align: center">No Liked Media...</h2>');
                    } else {
                        if ($('#liked-movies-section .card-item').length === 0) {
                            $('#liked-movies-section').remove();
                        }
                        if ($('#liked-tv-section .card-item').length === 0) {
                            $('#liked-tv-section').remove();
                        }
                    }
                }

                // unfavorite button initially red
                $('.favorite-btn').css('background-color', '#ff0000');
        
                $('.favorite-btn').click(function() {
                    var button = $(this);
                    var media_id = button.data('id');
                    var media_type = button.data('type');
                    var title = button.data('title');
                    var poster_path = button.data('poster');
                    var vote_average = button.data('vote-average');
                    var csrf_token = "{{ csrf_token() }}";
        
                    $.ajax({
                        url: "{{ url_for('favorite') }}",
                        method: 'POST',
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': csrf_token
                        },
                        data: JSON.stringify({
                            media_id: media_id,
                            media_type: media_type,
                            title: title,
                            poster_path: poster_path,
                            vote_average: vote_average
                        }),
                        success: function(response) {
                            if (response.result === 'removed') {
                                button.closest('.card-item').remove();
                                checkIfNoLikedMedia();
                            }
                        },
                        error: function(error) {
                            console.error('Error in favorite request:', error);
                        }
                    });
                });
        
                checkIfNoLikedMedia();
            });
        </script>
    </body>
</html>
