<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile - MediaMania</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <h1>Profile</h1>
            <h2>Hello, {{ name }}</h2>

            <!--sort feature!-->
            <div class="sort-options">
                <label for="sort">Sort by:</label>
                <select id="sort" onchange="sortFavorites(this.value)">
                    <option value="default">Relevance</option>
                    <option value="alpha">Alphabetical</option>
                    <option value="rating">Rating</option>
                </select>
            </div>

            <div id="liked-media">
                {% if liked_movies %}
                    <div class="trending-section" id="liked-movies-section">
                        <h2>Your Liked Movies</h2>
                        <div class="card-content">
                            {% for movie in liked_movies %}
                                <div class="card-item" data-id="{{ movie.media_id }}" data-title="{{ movie.title }}" data-release-date="{{ movie.release_date }}" data-vote-average="{{ movie.vote_average }}">
                                    <a href="{{ url_for('media_detail', media_type='movie', media_id=movie.media_id) }}">
                                        <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                                            alt="{{ movie.title }}">
                                    </a>
                                    <p class="title">{{ movie.title | truncate(20) }}</p>
                                    <p class="rating">Rating: {{ "%.1f"|format(movie.vote_average) if movie.vote_average else "No Rating" }}/10</p>
                                    <!-- to be fixed <p class="user-rating">Your Rating: {{ movie.rating }}</p> -->
                                    <button class="favorite-btn"
                                            data-id="{{ movie.media_id }}"
                                            data-type="movie"
                                            data-title="{{ movie.title }}"
                                            data-poster="{{ movie.poster_path }}"
                                            data-vote-average="{{ movie.vote_average }}"
                                            style="background-color: #ff0000;">Unfavorite</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if liked_tv_shows %}
                    <div class="trending-section" id="liked-tv-section">
                        <h2>Your Liked TV Shows</h2>
                        <div class="card-content">
                            {% for tv_show in liked_tv_shows %}
                                <div class="card-item" data-id="{{ tv_show.media_id }}" data-title="{{ tv_show.title }}" data-release-date="{{ tv_show.release_date }}" data-vote-average="{{ tv_show.vote_average }}">
                                    <!-- <img src="https://image.tmdb.org/t/p/w500{{ tv_show.poster_path }}"
                                         alt="{{ tv_show.title }}"> -->
                                    <a href="{{ url_for('media_detail', media_type='tv', media_id=tv_show.media_id) }}">
                                        <img src="https://image.tmdb.org/t/p/w500{{ tv_show.poster_path }}"
                                            alt="{{ tv_show.title }}">
                                    </a>
                                    <p class="title">{{ tv_show.title | truncate(20) }}</p>
                                    <p class="rating">Rating: {{ "%.1f"|format(tv_show.vote_average) if tv_show.vote_average else "No Rating" }}/10</p>
                                    <!-- to be fixed <p class="user-rating">Your Rating: {{ tv_show.rating }}</p> -->
                                    <button class="favorite-btn"
                                            data-id="{{ tv_show.media_id }}"
                                            data-type="tv"
                                            data-title="{{ tv_show.title }}"
                                            data-poster="{{ tv_show.poster_path }}"
                                            data-vote-average="{{ tv_show.vote_average }}"
                                            style="background-color: #ff0000;">Unfavorite</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div id="recommended-media">
            {% if recommended_movies %}
                <div class="trending-section" id="recommended-movies-section">
                    <h2>Recommended Movies</h2>
                    <div class="card-content">
                        {% for movie in recommended_movies %}
                            <div class="card-item" data-id="{{ movie.id }}">
                                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
                                     alt="{{ movie.title }}">
                                <p class="title">{{ movie.title | truncate(20) }}</p>
                                <p class="rating">Rating: {{ "%.1f"|format(movie.vote_average) if movie.vote_average else "No Rating" }}/10</p>
                                <button class="favorite-btn"
                                        data-id="{{ movie.id }}"
                                        data-type="movie"
                                        data-title="{{ movie.title }}"
                                        data-poster="{{ movie.poster_path }}"
                                        data-vote-average="{{ movie.vote_average }}">Favorite</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if recommended_shows %}
                <div class="trending-section" id="recommended-shows-section">
                    <h2>Recommended TV Shows</h2>
                    <div class="card-content">
                        {% for show in recommended_shows %}
                            <div class="card-item" data-id="{{ show.id }}">
                                <img src="https://image.tmdb.org/t/p/w500{{ show.poster_path }}"
                                     alt="{{ show.name }}">
                                <p class="title">{{ show.name | truncate(20) }}</p>
                                <p class="rating">Rating: {{ "%.1f"|format(show.vote_average) if show.vote_average else "No Rating" }}/10</p>
                                <button class="favorite-btn"
                                        data-id="{{ show.id }}"
                                        data-type="tv"
                                        data-title="{{ show.name }}"
                                        data-poster="{{ show.poster_path }}"
                                        data-vote-average="{{ show.vote_average }}">Favorite</button>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


        <script>
            $(document).ready(function() {
                var liked_media_ids = {{ liked_media_ids|tojson|safe }};
                console.log("Liked media IDs:", liked_media_ids);
            
                function checkIfNoLikedMedia() {
                    if ($('#liked-media .card-item').length === 0) {
                        $('#liked-media').html('<h2 style="text-align: center">No Liked Media...</h2>');
                    } else {
                        if ($('#liked-movies-section .card-item').length === 0) {
                            $('#liked-movies-section').remove();
                        }
                        if ($('#liked-tv-section .card-item').length === 0) {
                            $('#liked-tv-section').remove();
                        }
                    }
                }

                function sortFavorites(sortBy) {
                    var cardItemsMovies = $('#liked-movies-section .card-item').get();
                    var cardItemsTvShows = $('#liked-tv-section .card-item').get();

                    if (sortBy === 'alpha') {
                        cardItemsMovies.sort(function(a, b) {
                            var titleA = $(a).data('title').toLowerCase();
                            var titleB = $(b).data('title').toLowerCase();
                            return (titleA < titleB) ? -1 : (titleA > titleB) ? 1 : 0;
                        });
                        cardItemsTvShows.sort(function(a, b) {
                            var titleA = $(a).data('title').toLowerCase();
                            var titleB = $(b).data('title').toLowerCase();
                            return (titleA < titleB) ? -1 : (titleA > titleB) ? 1 : 0;
                        });
                    } else if (sortBy === 'rating') {
                        cardItemsMovies.sort(function(a, b) {
                            var ratingA = parseFloat($(a).data('vote-average'));
                            var ratingB = parseFloat($(b).data('vote-average'));
                            return ratingB - ratingA;
                        });
                        cardItemsTvShows.sort(function(a, b) {
                            var ratingA = parseFloat($(a).data('vote-average'));
                            var ratingB = parseFloat($(b).data('vote-average'));
                            return ratingB - ratingA;
                        });
                    }

                    $.each(cardItemsMovies, function(index, item) {
                        $('#liked-movies-section .card-content').append(item);
                    });
                    $.each(cardItemsTvShows, function(index, item) {
                        $('#liked-tv-section .card-content').append(item);
                    });
                }


                $('#sort').change(function() {
                    sortFavorites(this.value);
                });

                // unfavorite button initially red
                $('.favorite-btn').each(function() {
                    var button = $(this);
                    var media_id = button.data('id');
                    if (liked_media_ids.includes(media_id)) {
                        button.text('Unfavorite').css('background-color', '#ff0000');
                    } else {
                        button.text('Favorite').css('background-color', '#28a745');
                    }
                });
        
                $('.favorite-btn').click(function() {
                    var button = $(this);
                    var media_id = button.data('id');
                    var media_type = button.data('type');
                    var title = button.data('title');
                    var poster_path = button.data('poster');
                    var vote_average = button.data('vote-average');
                    var csrf_token = "{{ csrf_token() }}";
        
                    $.ajax({
                        url: "{{ url_for('favorite') }}",
                        method: 'POST',
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': csrf_token
                        },
                        data: JSON.stringify({
                            media_id: media_id,
                            media_type: media_type,
                            title: title,
                            poster_path: poster_path,
                            vote_average: vote_average
                        }),
                        success: function(response) {
                            if (response.result === 'removed') {
                                button.closest('.card-item').remove();
                                checkIfNoLikedMedia();
                            } else if (response.result === 'added') {
                                button.text('Unfavorite').css('background-color', '#ff0000');
                                
                                // Move item to the liked section
                                var cardItem = button.closest('.card-item').clone();
                                cardItem.find('.favorite-btn').text('Unfavorite').css('background-color', '#ff0000');
                                
                                if (media_type === 'movie') {
                                    $('#liked-movies-section .card-content').append(cardItem);
                                } else if (media_type === 'tv') {
                                    $('#liked-tv-section .card-content').append(cardItem);
                                }
                                
                                // Remove item from recommended section
                                button.closest('.card-item').remove();
                            }
                        },
                        error: function(error) {
                            console.error('Error in favorite request:', error);
                        }
                    });
                });
        
                checkIfNoLikedMedia();
            });
        </script>
    </body>
</html>
